header {
    text-align: center;
    color: #ffffff;
    background-image: url("../images/Fischeviel.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    border-color: #000000;
}
