header {
    text-align: center;
    color: #000000;
    background-image: url("../images/Hundeart.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    border-color: #000000;
}



table { text-align: center;
    color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    border-color: #000000;

}


