header {
    text-align: center;
    color: #000000;
    background-image: url("../images/Pfoten.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    border-color: #000000;
}