
/* Remove default list styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }
 
 /* Style the navbar */
 nav {
  background-color: #B1BAD1;
 }
 
 /* Style the navbar links */
 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }
 
 /* Change color on hover */
 li a:hover {
  background-color: #111;
 }
 
 /* Add a shopping cart image to the far right */
 .shoppingcart {
  float: right;
 }

 img {
  width: 20mm;
 }

 .Logo {
  width: 40mm;
 }
