
/* Remove default list styling */
ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }
 
 /* Style the navbar */
 nav {
  background-color: #B1BAD1;
 }

 /* Style the navbar links */
 nav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }

 /* Change color on hover */
 nav a:hover {
  background-color: #111;
 }

 li a {
  display: flex;
 }
 
 /* Add a shopping cart image to the far right */
 .shoppingcart {
  float: right;
 }

 img {
  width: 20mm;
 }

 .Logo {
  width: 40mm;
 }

 .search {
  width: 3.5mm;
 }

 button {
  background-color: #B1BAD1;
 }

 form {
  background-color: #B1BAD1;
  width: 300px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
 }

 ul {
  display: inline-flex;
  align-items: center;
  word-spacing: 50mm;
 }

 