
html{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}
body{
    height: 100%;
    background-color: #afafaf; 
}
nav{
    height: 90px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.144);
    border-radius: 1.5em;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    margin-top: 15px;
    margin-right: 40px;
    position: relative;
}
nav ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}
nav ul li .active{
    color: #afafaf;
}
li a {
    color: #000000;
}
img {
    height: 70px;
    float: right;
}
nav img {
    height: 85px;
    position: absolute;
    margin-left: 20px;
}
.logosVonApps {
    height: 20%;
    width: 20%;
    margin-right: 200px;   
}
/* es in Prozent damit das Bild kleiner wird wenn der Bilschirm kleiner wird*/
.podcastLogos {
    height: 10%;
    width: 10%;
}
.color-change:hover {
    color: #afafaf;
}
/* mit hover wird der text eine andere farbe wenn man mit der maus dadrüber geht */
h1{
    font-size: 2.7em;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
p {
    text-align: justify;
} 
h3 {
    font-size:1.5em; 
}
section {
    background-color: rgb( 255, 255, 255);
    border-radius: 1em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 2%;  
}
footer {
    background-color: rgb( 255, 255, 255);
    border-radius: 1em;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;  
}
.links {
    color: rgb(97, 97, 97);
}
/* also eigentlich wollte ich das zur class color change hinzufügen jedoch ging das nicht weil dann der link immer noch blau gewesen wär und man kann keine zwei class machen deshalb ist das jetzt eine neue */
 .links:hover {
    color: #afafaf;
 }
 .podcastLogos {
    height: 23%;
    width: 23%;
    margin-right: 200px;  
 }
 /*ich hab keine ahnung warum ich nicht einfach alle podcast logos in eine class machen kann nur als ich das gemacht hab waren die nicht gleich groß und es war hässlich also musste ich zwei machen ich hab keine ahnung wo der fehler liegt aber so ist das problem auch gelöst */
 .podcastLogos2 {
    height: 10%;
    width: 10%;
    margin-right: 200px;  
 }