
html{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}
body{
    height: 100%;
    background-color: #afafaf; 
}
nav{
    height: 90px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.144);
    border-radius: 1.5em;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    margin-top: 15px;
    margin-right: 40px;
    position: relative;
}
nav ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}
nav ul li .active{
    color: #afafaf;
}

li a {
    color: #000000;
}

img {
    height: 70px;
    float: right;
}

nav img {
    height: 85px;
    position: absolute;
    margin-left: 20px;
}

.logosVonApps {
    height: 20%;
    width: 20%;
    margin-right: 200px;   
}
/* es in Prozent damit das Bild kleiner wird wenn der Bilschirm kleiner wird*/
.podcastLogos {
    height: 10%;
    width: 10%;
}

.color-change:hover {
    color: #afafaf;
}

.color-change-2:hover {
    color: #606060;
}

h1{
    font-size: 2.7em;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
}

p {
    text-align: justify;
}
   
section {
    padding-left: 2.5%;
    padding-right: 2.5%;
}
    
h3 {
    font-size:1.5em; 

}
